@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h1 {
    @apply text-2xl font-semibold m-2;
  }

  h2 {
    @apply text-xl font-semibold m-2;
  }

  h3 {
    @apply text-xl font-semibold m-2;
  }
  p {
    @apply m-2;
  }

  a {
    @apply text-red-900 hover:underline;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-4xl p-8;
  }
}
